@font-face {
  font-family: 'myiransans';
  src: url("font/IRANSansWeb.ttf") format("truetype"), url("font/IRANSansWeb.eot") format("eot"), url("font/IRANSansWeb.woff") format("woff"), url("font/IRANSansWeb.woff2") format("woff2"), url("font/IRANSans.svg") format("svg");
}

@font-face {
  font-family: 'myiransansnum';
  src: url("font/IRANSansWeb(FaNum).ttf") format("truetype"), url("font/IRANSansWeb(FaNum).eot") format("eot"), url("font/IRANSansWeb(FaNum).woff") format("woff"), url("font/IRANSansWeb(FaNum).woff2") format("woff2");
}

* {
  font-family: myiransansnum;
  text-decoration: none !important;
}

* ::selection {
  color: #fff !important;
  background-color: #144273 !important;
}

body {
  background-color: #F5F7FB;
  direction: rtl;
}

.custom-input-search {
  border-start-start-radius: .6em !important;
}

.custom-button-search {
  color: #fff !important;
  border-start-end-radius: .6em !important;
  background-color: #3270FC !important;
  transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -moz-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
}

.custom-button-search:hover {
  background-color: #1a5fff !important;
}

.custom-icon a {
  font-size: .9em !important;
  color: #8e8e8e !important;
  transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -moz-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
}

.custom-icon a:hover {
  color: #f58221 !important;
}

.custom-icon-lg a {
  font-size: 1.2em !important;
  color: #8e8e8e !important;
  transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -moz-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
}

.custom-icon-lg a:hover {
  color: #f58221 !important;
}

.custom-input-search1 {
  border-start-start-radius: .6em !important;
  border-end-start-radius: .6em !important;
}

.custom-button-search1 {
  background-color: #3270FC !important;
  border-start-end-radius: .6em !important;
  color: #fff !important;
  border-end-end-radius: .6em !important;
}

.custom-nav {
  background-color: #fff !important;
}

.custom-nav .custom-navbar li a {
  color: #144273 !important;
  transition: all, ease, 0.4s;
  -o-transition: all, ease, 0.4s;
  -moz-transition: all, ease, 0.4s;
  -webkit-transition: all, ease, 0.4s;
  font-size: .9em !important;
  font-weight: 600 !important;
}

.custom-nav .custom-navbar li a:hover {
  color: #3270FC !important;
}

.custom-search-color {
  color: #3270FC !important;
}

.custom-search-color:active {
  color: #144273 !important;
}

@media (min-width: 992px) {
  .custom-navbar li a {
    border-right: solid .6px #e0e0e0 !important;
    padding-right: 9px !important;
  }
  .custom-navbar .border-none {
    border-right: none !important;
  }
  .custom-submenu a {
    padding: .6em 0em !important;
  }
  .custom-submenu {
    opacity: 0 !important;
    visibility: hidden !important;
    top: 80px !important;
    display: block !important;
    transition: all, ease, 0.3s;
    -o-transition: all, ease, 0.3s;
    -moz-transition: all, ease, 0.3s;
    -webkit-transition: all, ease, 0.3s;
  }
  .dropdown:hover .custom-submenu {
    opacity: 1 !important;
    visibility: visible !important;
    top: 38px !important;
    display: block !important;
  }
}

.custom-containerfluid {
  background-image: url("img/SL_043021_42650_02.jpg") !important;
  width: 100% !important;
  height: 260px !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative !important;
}

.custom-containerfluid .custom-titr {
  top: 95px !important;
  position: relative !important;
  color: #144273 !important;
  background-color: #e6eeff !important;
}

.custom-containerfluid .custom-titr .custom-btn-titr {
  background-color: #3270FC !important;
  border-radius: 0px !important;
  padding: .6em !important;
  color: #fff !important;
}

.custom-containerfluid .custom-titr .custom-btn-titr:hover {
  background-color: transparent !important;
  border-color: #3270FC;
  color: #3270FC !important;
}

.custom-container-fluid {
  background-image: url("img/img111.jpg");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 100% !important;
  position: relative !important;
}

.custom-container-fluid .custom-e {
  direction: rtl !important;
  border-start-start-radius: .8em !important;
  border-end-start-radius: .8em !important;
}

.custom-container-fluid .custom-btn-e {
  color: #fff !important;
  background-color: #8e8e8e !important;
  transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -moz-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  border-start-end-radius: .8em !important;
  border-end-end-radius: .8em !important;
}

.custom-container-fluid .custom-btn-e:hover {
  background-color: #646464 !important;
}

.custom-p1 {
  background-color: #144273 !important;
  padding: .6em !important;
  font-size: .9em !important;
}

.custom-p2 {
  background-color: #8e8e8e !important;
  padding: .6em !important;
  font-size: .9em !important;
  cursor: pointer !important;
}

.custom-border::before {
  content: '' !important;
  width: 100% !important;
  height: .2em !important;
  background-color: #144273 !important;
  display: block !important;
  top: 24px !important;
  position: relative !important;
  z-index: -1 !important;
}

@media (min-width: 1400px) {
  .custom-card-a {
    margin-top: 3em !important;
  }
}

.custom-over {
  background-color: #3270FC !important;
  color: #fff !important;
}

.custom-sublayer {
  display: flex !important;
  position: relative !important;
}

.custom-sublayer .overlay {
  position: absolute !important;
  top: 0px !important;
  right: 0px !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.6) !important;
  opacity: 0 !important;
  visibility: hidden !important;
  transition: all, ease, 0.4s;
  -o-transition: all, ease, 0.4s;
  -moz-transition: all, ease, 0.4s;
  -webkit-transition: all, ease, 0.4s;
}

.custom-sublayer .overlay .btn {
  position: absolute !important;
  top: 67% !important;
  right: 37% !important;
}

@media (max-width: 1200px) {
  .custom-sublayer .overlay .btn {
    position: absolute !important;
    top: 69% !important;
    right: 38% !important;
  }
}

@media (max-width: 992px) {
  .custom-sublayer .overlay .btn {
    position: absolute !important;
    top: 68% !important;
    right: 36% !important;
  }
}

@media (max-width: 768px) {
  .custom-sublayer .overlay .btn {
    position: absolute !important;
    top: 68% !important;
    right: 40% !important;
  }
}

@media (max-width: 576px) {
  .custom-sublayer .overlay .btn {
    position: absolute !important;
    top: 67% !important;
    right: 36% !important;
  }
}

@media (max-width: 400px) {
  .custom-sublayer .overlay .btn {
    position: absolute !important;
    top: 66% !important;
    right: 33% !important;
  }
}

@media (max-width: 340px) {
  .custom-sublayer .overlay .btn {
    position: absolute !important;
    top: 64% !important;
    right: 29% !important;
  }
}

@media (max-width: 278px) {
  .custom-sublayer .overlay .btn {
    position: absolute !important;
    top: 64% !important;
    right: 22% !important;
  }
}

.card:hover .overlay {
  opacity: 1 !important;
  visibility: visible !important;
}

.custom-card-a1 {
  color: #000 !important;
  transition: all, ease, 0.2s;
  -o-transition: all, ease, 0.2s;
  -moz-transition: all, ease, 0.2s;
  -webkit-transition: all, ease, 0.2s;
}

.custom-card-a1:hover {
  color: #f58221 !important;
}

.custom-del1 {
  text-decoration: line-through !important;
}

.custom-small1 {
  color: #8e8e8e !important;
}

.custom-ul {
  color: #8e8e8e !important;
}

.custom-ul li a {
  color: #585858 !important;
}

.custom-ul li a:hover {
  color: #313131 !important;
}

.custom-end {
  background-color: #eeeeee !important;
}

.custom-head-singup {
  width: 100% !important;
  height: 260px !important;
  background-image: url("img/background-icon@2x.png");
  position: relative !important;
}

.custom-singup-i {
  border-end-start-radius: .6em !important;
  border-start-start-radius: .6em !important;
}

.custom-singup-in {
  border-start-end-radius: .6em !important;
  border-end-end-radius: .6em !important;
}

.custom-btn-singup {
  background-color: #144273 !important;
  margin-top: 1.5em !important;
  font-size: 1.1em !important;
}

.custom-singup-s {
  font-size: .6em !important;
}

.custom-singup-ss {
  font-size: .8em !important;
}

.custom-singup-se {
  margin-top: 2em !important;
  text-align: center !important;
}

.custom-singup-see {
  margin-top: 1.5em !important;
  text-align: center !important;
}
/*# sourceMappingURL=style.css.map */