@font-face {
    font-family: 'myiransans';
    src: url('font/IRANSansWeb.ttf') format('truetype'),url('font/IRANSansWeb.eot') format('eot'),
    url('font/IRANSansWeb.woff') format('woff'),url('font/IRANSansWeb.woff2') format('woff2'),
    url('font/IRANSans.svg') format('svg');
}

@font-face {
    font-family: 'myiransansnum';
    src: url('font/IRANSansWeb\(FaNum\).ttf') format('truetype'),url('font/IRANSansWeb\(FaNum\).eot') format('eot'),
    url('font/IRANSansWeb\(FaNum\).woff') format('woff'),url('font/IRANSansWeb\(FaNum\).woff2') format('woff2');
}

$color-blue: #3270FC;
$color-bluer: #144273;
$color-white: #F5F7FB;
$color-orange: #f58221;
$color-dark-white: #8e8e8e;

@mixin transition1($tr1,$tr2,$tr3) {
    transition: $tr1,$tr2,$tr3;
    -o-transition: $tr1,$tr2,$tr3;
    -moz-transition: $tr1,$tr2,$tr3;
    -webkit-transition: $tr1,$tr2,$tr3;
}

*{
    font-family: myiransansnum;
    text-decoration: none !important;
}

body{
    background-color: $color-white;
    direction: rtl;
}

.custom-input-search{
    border-start-start-radius: .6em !important;
}

.custom-button-search{
    color: #fff !important;
    border-start-end-radius: .6em !important;
    background-color: $color-blue !important;
}

.custom-icon a{
    font-size: .9em !important;
    color: $color-dark-white !important;
    @include transition1(all,ease,0.3s);
}

.custom-icon a:hover{
    color: $color-orange !important;
}

.custom-icon-lg a{
     font-size: 1.2em !important;
     color: $color-dark-white !important;
     @include transition1(all,ease,0.3s);
}

.custom-icon-lg a:hover{
    color: $color-orange !important;
}

.custom-input-search1{
    border-start-start-radius: .6em !important;
    border-end-start-radius: .6em !important;
}

.custom-button-search1{
    background-color: $color-blue !important;
    border-start-end-radius: .6em !important;
    color: #fff !important;
    border-end-end-radius: .6em !important ;
}

.custom-nav{
    .custom-navbar{
        li{
            a{
                color: #144273 !important;
                @include transition1(all,ease,0.4s);
                font-size: .9em !important;
                font-weight: 600 !important;
                &:hover{
                    color: #3270FC !important;
                }
            }
        }
    }
}

.custom-search-color{
    color: $color-blue !important;
    &:active{
        color: $color-bluer !important;
    }
}

@media (min-width:992px) {
    .custom-navbar{
        li{
            a{
                border-right: solid .6px #e0e0e0 !important;
                padding-right: 9px !important;
            }
        }
        .border-none{
            border-right: none !important;
        }
    }
    .custom-submenu{
        a{
            padding: .6em 0em !important;
        }
    }
    .custom-submenu{
        opacity: 0 !important;
        visibility: hidden !important;
        top: 80px !important;
        display: block !important;
        @include transition1(all,ease,0.3s)
    }
    .dropdown:hover .custom-submenu{
        opacity: 1 !important;
        visibility: visible !important;
        top: 38px !important;
        display: block !important;
    }
}

.custom-containerfluid{
    background-image: url('img/Screenshot\ 2022-01-21\ at\ 00-34-18\ پیشنمایش\ قالب\ HTML\ املاک\ هوم\ رادار،\ Homeradar\ راست\ چین\ -\ Shortcut.lnk');
    width: 100% !important;
    height: 260px !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative !important;
    .custom-titr{
        top: 95px !important;
        position: relative !important;
        color: $color-bluer !important;
        background-color: #e6eeff !important;
        .custom-btn-titr{
            background-color: $color-blue !important;
            border-radius: 0px !important;
            padding: .6em !important;
            color: #fff !important;
        }
    }
}












